/* Graphit-Black */
@font-face                                  {   font-family: Graphit-Black;src: url('../libs/fonts/graphit_font/Graphit-Black.otf') format('truetype');}

/* Graphit-BlackItalic */
@font-face                                  {   font-family: Graphit-BlackItalic;src: url('../libs/fonts/graphit_font/Graphit-BlackItalic.otf') format('truetype');}

/* Graphit-Bold */
@font-face                                  {   font-family: Graphit-Bold;src: url('../libs/fonts/graphit_font/Graphit-Bold.otf') format('truetype');}

/* Graphit-BoldItalic */
@font-face                                  {   font-family: Graphit-BoldItalic;src: url('../libs/fonts/graphit_font/Graphit-BoldItalic.otf') format('truetype');}

/* Graphit-Light */
@font-face                                  {   font-family: Graphit-Light;src: url('../libs/fonts/graphit_font/Graphit-Light.otf') format('truetype');}

/* Graphit-LightItalic */
@font-face                                  {   font-family: Graphit-LightItalic;src: url('../libs/fonts/graphit_font/Graphit-LightItalic.otf') format('truetype');}

/* Graphit-Medium */
@font-face                                  {   font-family: Graphit-Medium;src: url('../libs/fonts/graphit_font/Graphit-Medium.otf') format('truetype');}

/* Graphit-Regular */
@font-face                                  {   font-family: Graphit-Regular;src: url('../libs/fonts/graphit_font/Graphit-Regular.otf') format('truetype');  }


body 										{	background: #461755 !important;}

.btnMore,.btnMore:hover,.btnMore:focus  	{   font-size: 14px;font-family: Graphit-Regular;width: 170px;padding: 7px;border-radius: 0px;color: #ffffff;border: #41abe3;}
.navbar-nav a.active                        {   border-bottom: 6px solid #f3943d;color: #ffffff !important;}
.navbar-nav a:hover                         {   border-bottom: 6px solid #f3943d;color: #ffffff !important;}
.mt20                                       {   margin-top: 20px !important;}
.mt40                                       {   margin-top: 40px !important;}
.mt60                                       {   margin-top: 60px !important;}
.mt80                                       {   margin-top: 80px !important;}
.mt100                                      {   margin-top: 100px !important;}
.mt-60                                      {   margin-top: -60px !important;}
.orangeMore                                 {   background-color: #f3943d !important;}
.blueMore                                   {   background-color: #41abe3 !important;}
.greenMore                                  {   background-color: #8dbe44 !important;}
.redMore                                    {   background-color: #eb3e44 !important;}
.voiletMore                                 {   background-color: #7c34a9 !important;}
.sliderShow                                 {   cursor: pointer;}
.card                                       {   border-radius: 0px;}
.transform                                  {   background-color: #461755 !important;}
.padRight 									{	padding-right: 20px !important;}
.padLeft 									{	padding-left: 20px !important;}

/*html,body{overflow:hidden;}


